# Exemple de configuration pour hébergement Infomaniak
APP_ENV=production
APP_SECRET=changer_cette_cle_secrete_longue_et_aleatoire
# Hash bcrypt pour le mot de passe "coach2026"
ADMIN_PASSWORD_HASH=$2y$12$8nSNLSLWAScN/I7WJxsQYusoXNPOssPpuhNbx2YWVu22XLrDiQaIO
DB_PATH=data/debriefing.sqlite
BASE_URL=
CURRENT_SEASON_NAME=2026-2027
REFERENCE_COMPETITION_YEAR=2027
COACH_PHONE=+41791234567
CLUB_NAME=CA Sion
